* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-default);
    font-size: 16px;
    background: var(--background);
    color: var(--primary);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer {
    font-size: 14px;
    text-align: center;
    color: var(--text-muted);

    & a {
        color: var(--text-muted);
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
    }
}
