* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-default);
    font-size: 16px;
    background: var(--background);
    color: var(--primary);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.task-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.task-summary {
    width: 100%;
    font-size: 14px;
    color: var(--text-muted);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-content {
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-item {
    border-radius: 8px;
    background-color: var(--task-item-bg);
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}

.task-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.task-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}
