:root {
    --font-default: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    --background: #fafafa;
    --card-bg: #ffffff;
    --card-border-color: #e5e5e5;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
    --input-color: #000000;
    --primary: #172554;
    --secondary: #1d4ed8;
    --text-muted: #737373;
    --focus-color: #a3a3a3;
    --focus-color-transparent: #a3a3a380;
    --task-item-bg: #eff6ff;
    --button-icon-hover: #dbeafe;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #171717;
        --card-bg: #262626;
        --card-border-color: #404040;
        --card-shadow-color: rgb(105, 105, 105, 0.1);
        --input-color: #ffffff;
        --primary: #60a5fa;
        --focus-color: #737373;
        --focus-color-transparent: #73737380;
        --task-item-bg: #172554;
        --button-icon-hover: #1e3a8a;
    }
}
